.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px; 
}

.footer{
	padding: 10px 10px 0 10px; 
	background-color: yellow; 
	margin-bottom: 0px;
	margin-top: 20px 
}

.card-hotel{
	flex: 1 200px; 
	margin-top: 10px;
}

.btn-reserva{
	width: 100%; 
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 10px; 
}

.card-img-top{
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel-css{
	margin-top: 10px;
	margin-bottom: 20px; 
}
.tab-content{
	padding-top: 10px; 
}