$yellow: #f5f542; 
$blue: #5F9EDE; 

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px); 
}

.footer{
	padding: 10px 10px 0 10px; 
	background-color: $blue; 
	@include margenes(0px, 20px);
}

.card-hotel{
	flex: 1 200px; 
	margin-top: 10px;
}

.btn-reserva{
	width: 100%; 
	border-radius: 0px;
}

.footer-adress-icon{
	padding-right: 10px; 
}

.card-img-top{
	@include margenes(10px, 10px);
}

.carousel-css{
	margin-top: 10px;
	margin-bottom: 20px; 
}
.tab-content{
	padding-top: 10px; 
}
.btn-enviar{
  @include margenes(0px, 10px); 
}
