@yellow: #f5f542; 
@green: #26f02d; 
@blue: #abf7ff;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.navbar{
  background-color: @blue;
}

.jumbotron{
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px); 
}

.footer{
  padding: 10px 10px 0 10px; 
  background-color: @green; 
  .margenes(0px, 20px);
}

.card-hotel{
  flex: 1 200px; 
  margin-top: 10px;
}

.btn-reserva{
  width: 100%; 
  border-radius: 0px;
}

.footer-adress-icon{
  padding-right: 10px; 
}

.card-img-top{
  .margenes(10px, 10px);
}

.carousel-css{
  margin-top: 10px;
  margin-bottom: 20px; 
}
.tab-content{
  padding-top: 10px; 
}